name: Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-release:
    name: build-release
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
    strategy:
      matrix:
        build:
          - linux musl x64
        include:
          - build: linux musl x64
            os: ubuntu-latest
            rust: stable
            target: x86_64-unknown-linux-musl
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
          target: ${{ matrix.target }}

      - name: Mkdir
        id: mkdir-5
        working-directory: /
        run: |
          sudo mkdir me
          sudo chown -R $(whoami):$(whoami) /me/

      - name: Build release binary
        run: cargo install --locked --git https://github.com/julianbuettner/tcp-over-http --tag rocket-stable --target-dir /me/

      - name: Upload API
        uses: actions/upload-artifact@v3
        with:
            name: build-linux
            path: /me/
            retention-days: 1

      - name: Tar release 0
        id: make-artifact-0
        working-directory: /me/
        run: |
          pwd
          ls -l

      - name: Tar release 1
        id: make-artifact-1
        working-directory: /me/
        run: |
          ls -la /me/target/debug/
          ls -la /me/target/release/
          ls -la /me/target/build/


